
body {
  background-color: rgb(238, 247, 254);
  font-family: 'Zilla Slab', serif;
  letter-spacing: 0.05em;
  margin: 0;
  color: rgb(66, 51, 110);
}

h3 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0;
}

a {
  color: black;
  text-decoration: underline;
  text-align: center;
}

#burger-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

#burger {
  width: 38%;
  float: right;
}

#menu {
  height: 100vh;
  text-align: center;
  background-color: #fedbd7;
  display: none;
  position: fixed;
  top: 0;
  z-index: 10;
}

.menu-item {
  color: #822945;
  text-decoration: underline;
  display: block;
  font-size: 2em;
  line-height: 2em;
}

#close-menu {
  padding-bottom: 90px;
}

#close-sign {
  width: 15%;
  float: right;
}

.container {
  height: 600px;
}

.container1 {
  text-align: center;
  background: radial-gradient(circle, #eff7fe59, #eff7fead, #eff7fe00), url(img/watercolor.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw;
}

.container1 h2 {
  font-size: 4em;
  padding-top: 30vh;
  margin-bottom: 30px;
}

.container1 p {
  font-size: 2em;
}

.line {
  border-bottom: 4px solid rgb(66, 51, 110);
  margin: 0 70px 0 70px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
  height: 100%;
}

.project1 {
  grid-column: 4 / 20;
  grid-row: 4 / 16;
  background: linear-gradient(117deg, #d4c8ea, #5c4c77);
  z-index: 1;
  display: grid;
  grid-template-columns: 1;
}

.project1 img {
  width: 50%;
  justify-self: center;
}

.project2 {
  grid-column: 3 / 19;
  grid-row: 3 / 15;
  background: linear-gradient(117deg, #a699bf1a, #2c096557);
}

.project3 {
  grid-column: 2 / 18;
  grid-row: 2 / 14;
  background: linear-gradient(117deg, #a699bf1a, #2c096557);
  z-index: -1;
}

.slidein {
  animation-duration: 1s;
  animation-name: slide;
  animation-fill-mode: forwards;
}

.slideout {
  animation-duration: 1s;
  animation-name: slide;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

@keyframes slide {
  from {
    transform: translateY(200px);
  }    
  to {
    transform: translateY(0px);
  }
}

@keyframes menuIn {
  from {
    transform: translateX(400px);
  }    
  to {
    transform: translateX(0px);
  }
}

@keyframes menuOut {
  from {
    transform: translateX(0px);
  }    
  to {
    transform: translateX(400px);
    display: none;
  }
}



