
body {
  /* background-color: rgb(0,86,80); */
  font-family: 'Zilla Slab', serif;
  letter-spacing: 0.05em;
  margin: 0;
}

h3 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0;
}

a {
  color: black;
  text-decoration: underline;
  text-align: center;
}

#burger-wrapper {
  float: right;
}

#burger {
  width: 30%;
  float: right; 
}

#menu {
  height: 100vh;
  text-align: center;
  background-color: #fedbd7;
  display: none;
}

.menu-item {
  color: #822945;
  text-decoration: underline;
  display: block;
  font-size: 2em;
  line-height: 2em;
}

#close-menu {
  padding-bottom: 90px;
}

#close-sign {
  width: 15%;
  float: right;
}

.container {
  height: 600px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
  height: 100%;
}

.project1 {
  grid-column: 4 / 20;
  grid-row: 4 / 16;
  background: linear-gradient(117deg, #d4c8ea, #5c4c77);
  z-index: 1;
  display: grid;
  grid-template-columns: 1;
}

.project1 img {
  width: 50%;
  justify-self: center;
}

.project2 {
  grid-column: 3 / 19;
  grid-row: 3 / 15;
  background: linear-gradient(117deg, #a699bf1a, #2c096557);
}

.project3 {
  grid-column: 2 / 18;
  grid-row: 2 / 14;
  background: linear-gradient(117deg, #a699bf1a, #2c096557);
  z-index: -1;
}

.slidein {
  animation-duration: 1s;
  animation-name: slide;
  animation-fill-mode: forwards;
}

.slideout {
  animation-duration: 1s;
  animation-name: slide;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

@keyframes slide {
  from {
    transform: translateY(200px);
  }    
  to {
    transform: translateY(0px);
  }
}

